<div class="container">
  <div class="row">
    <h2>My services</h2>
    <ul>
      <% @services.each do |service| %>
      <li><%= service.description %> <%= service.hourly_rate %></li>
      <% end %>
    </ul>
    <br>
    <%= link_to "Add new services", new_service_path %>
  </div>
</div>
