// .background {
//   background-color: white;
// }
.profile {
  text-align: center;
  // margin: auto;
}
.tprofile {
  padding-top: 70px;
  text-align: center;
  // margin: auto;
}

.fieldname {
  font-size: 20px;
  // text-align: right;
}

.profile-avatar {
  padding-top: 1px;
}

.list-inline {
  margin-top: 20px;
  margin-bottom: 20px;
}
 .pic {
  margin-top: 70px;
 }
