.backgroundreg {
  width: 100%;
  height: calc(100vh - 135px);
  background-position: center;
}

.signup {
  color: white;
  text-align: center;
  padding: 1em 0;
  font-size: 36px;
}

.suplinks {
  text-align: center;
  color: rgb(150, 150, 150);
  font-size: 20px;
  padding-bottom: 15px;
  a {
    color: rgb(150, 150, 150);
    font-size: 20px;
    padding-bottom: 15px;
    &:hover {
      color: rgb(100, 100, 100);
      text-decoration: none;
    }
  }
}

.button {
  text-align: center;
}

.form-button {
  background-color: #dad8d8;
  border-color: RGB(100, 100, 100);
  border-radius: 30px;
  color: rgb(100, 100, 100);
}

.form-button:hover {
  opacity: 0.7;
}
