.header-my-services {
  display: flex;
  align-items: center;
}

.btn-add-service {
  background-color: transparent;
  border-color: RGB(150, 150, 150);
  border-radius: 15px;
  color: rgb(150, 150, 150);
}

.btn-add-service:hover {
  border-color: rgb(100, 100, 100);
  color: rgb(100, 100, 100);
}

.content-header-my-services {
  align-items: center;
}

.h1-my-services {
  font-size: 30px;
}
