
  <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://stevewhysall.net/wp-content/uploads/2017/03/Gardening-1.jpg);">
  <div class="banner-content">
    <h1>At Your Service</h1>
    <p>Need help? We're here for you.</p>
    <%= link_to 'Search', categories_path, class: 'btn btn-primary' %>
    <a class="btn btn-primary">Add a service</a>

  </div>
</div>
