.row {
  background-color: rgba(255, 255, 255, 0.7);
  padding-top: 5px;
}

.padded {
  // padding: 100px 0;
  // margin-top: 20px;
}

.list-inline > li {
  padding-left: 25px;
  padding-right: 25px;
}

li {
  font-size: 15px;
  // justify-content: space-between;
}

a {
  font-size: 30px;
}

ul {
  margin-top: 50px;
  margin-bottom: 120px;
}

.btn-back-to-categories {
  border-size: 1px;
  border-color: rgb(150, 150, 150);
  border-radius: 20px;
  width: 180px;
  color: rgb(150, 150, 150);
  margin-left: 10px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.btn-back-to-categories:hover {
  background-color: rgb(180, 180, 180);
  color: white;
  border-color: rgb(180, 180, 180);
}
